/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace comp "components.*";
@namespace components "com.arxterra.components.*";

/*
//------------------------------
//  Global and Global Classes
//------------------------------
*/

global
{
	chromeColor: #364c61;
	color: #eeeeee;
	focusAlpha: 0.3;
	focusThickness: 1;
	fontFamily: _sans;
	fontSize: 14;
	symbolColor: #000000;
	accentColor: #cc6600; /* 663214 */
	downColor: #804000;
	rollOverColor: #663300;
	selectionColor: #cc6600;
	focusedTextSelectionColor: #cc6600;
	rollOverOpenDelay: NaN;
}

.colorAccent
{
	color: #cc6600;
}

.colorHead
{
	color: #999999;
}

.colorLight
{
	color: #cccccc;
}

.colorNegative
{
	color: #000000;
}

.colorPositive
{
	color: #ffffff;
}

.textBold
{
	fontWeight: bold;
}

.textHead
{
	fontSize: 18;
	fontWeight: bold;
}

.textLarge
{
	fontSize: 18;
}

.textPlain
{
	fontWeight: normal;
}

.textSmall
{
	fontSize: 12;
}

.textSubhead
{
	fontSize: 16;
	fontWeight: bold;
}

.textSubheadPlain
{
	fontSize: 16;
}

.thinCallout
{
	skinClass: ClassReference("com.arxterra.skins.ThinCalloutSkin");
	backgroundColor: #000000;
	backgroundAlpha: 1;
	borderColor: #666666;
	contentBackgroundAppearance: none;
}

.tip
{
	skinClass: ClassReference("com.arxterra.skins.TipSkin");
	backgroundColor: #000000;
	backgroundAlpha: 0.6;
	borderColor: #666666;
}

/*
//------------------------------
//  Components
//------------------------------
*/

components|BleAgentItemRenderer,
components|BleExecItemRenderer,
components|BluetoothListItemRenderer
{
	color: #ffffff;
}

components|CalloutBtn
{
	iconValue: 1;
}

components|ThinCallout
{
	skinClass: ClassReference("com.arxterra.skins.ThinCalloutSkin");
	backgroundColor: #000000;
	borderColor: #666666;
	contentBackgroundAppearance: none;
}

components|Tip
{
	skinClass: ClassReference("com.arxterra.skins.TipSkin");
	backgroundColor: #000000;
	backgroundAlpha: 0.6;
	borderColor: #666666;
}

components|Tip #labelDisplay
{
	color: #ffff00;
}

components|TouchSliderH
{
	chromeColor: #ffffff;
	color: #364c61;
}


/*
//------------------------------
//  Spark
//------------------------------
*/

s|BusyIndicator
{
	symbolColor: #ffffff;
	rotationInterval: 30;
}

s|Button
{
	fontSize: 14;
}

s|Button.action
{
	skinClass: ClassReference("spark.skins.mobile.TransparentActionButtonSkin");
	color: #ffffff;
	accentColor: #203242;
}

s|Button.action.emphasized
{
	skinClass: ClassReference("spark.skins.mobile.DefaultTransparentActionButtonSkin");
	color: #cc6600;
}

s|Button.actionMenu
{
	skinClass: ClassReference("spark.skins.mobile.TransparentActionButtonSkin");
	icon: ClassReference("com.arxterra.icons.IconMenu");
	color: #ffffff;
	accentColor: #294a66; /* 0066cc */
}

s|Button.actionMenu.emphasized
{
	skinClass: ClassReference("spark.skins.mobile.DefaultTransparentActionButtonSkin");
}

s|Button.actionMenuExpert
{
	skinClass: ClassReference("spark.skins.mobile.TransparentActionButtonSkin");
	icon: ClassReference("com.arxterra.icons.IconMenu");
	color: #cc6600;
	accentColor: #663214; /* cc6600 */
}

s|Button.actionMenuExpert.emphasized
{
	skinClass: ClassReference("spark.skins.mobile.DefaultTransparentActionButtonSkin");
}

s|Button.barLeft
{
	skinClass: ClassReference("spark.skins.mobile.ButtonBarFirstButtonSkin");
	accentColor: #203242;
}

s|Button.barMiddle
{
	skinClass: ClassReference("spark.skins.mobile.ButtonBarMiddleButtonSkin");
	accentColor: #203242;
}

s|Button.barRight
{
	skinClass: ClassReference("spark.skins.mobile.ButtonBarLastButtonSkin");
	accentColor: #203242;
}

s|Button.constraint
{
	accentColor: #203242;
}

s|Button.done
{
	chromeColor: #366136;
}

s|Button.light
{
	chromeColor: #660000;
}

s|Button.lightfront
{
	color: #666666;
	chromeColor: #cccccc;
}

s|Button.list
{
	skinClass: ClassReference("com.arxterra.skins.ListButtonSkin");
}

s|Button.nav
{
	skinClass: ClassReference("spark.skins.mobile.TransparentNavigationButtonSkin");
	color: #ffffff;
	accentColor: #203242;
}

s|Button.nav.emphasized
{
	skinClass: ClassReference("spark.skins.mobile.DefaultTransparentNavigationButtonSkin");
}

s|Button.navExit
{
	skinClass: ClassReference("spark.skins.mobile.TransparentNavigationButtonSkin");
	icon: ClassReference("com.arxterra.icons.IconExit");
	color: #ffffff;
	symbolColor: #ff0000;
}

s|Button.navSleep
{
	skinClass: ClassReference("spark.skins.mobile.TransparentNavigationButtonSkin");
	icon: ClassReference("com.arxterra.icons.IconSleep");
	color: #ffffff;
	symbolColor: #ffbb00;
}

s|Button.navWake
{
	skinClass: ClassReference("spark.skins.mobile.TransparentNavigationButtonSkin");
	icon: ClassReference("com.arxterra.icons.IconWake");
	color: #ffffff;
	symbolColor: #009900;
}

s|Button.iconGreen
{
	color: #00cc00;
}

s|Button.iconRed
{
	color: #ff0000;
}

s|Button.iconWhite
{
	color: #ffffff;
}

s|CheckBox.twistyCheckBox
{
	skinClass: ClassReference("com.arxterra.skins.TwistyCheckBoxSkin");
}

s|CheckBox.twistyCheckBox #labelDisplay
{
	fontSize: 14;
	paddingBottom: 12;
	paddingTop: 12;
}

s|Label
{
	fontSize: 14;
	verticalAlign: middle;
}

s|Label.customCommand
{
	verticalAlign: middle;
}

s|Label.customCommandHeading,
s|Label.permissionHeading
{
	fontWeight: bold;
	textAlign: center;
	verticalAlign: middle;
}

s|Label.helpLabel
{
	color: #000000;
	fontSize: 20;
	fontWeight: bold;
	paddingLeft: 10;
	paddingRight: 10;
	paddingTop: 7;
	paddingBottom: 4;
}

s|Label.textConfigGroup
{
	backgroundColor: #999999;
	color: #000000;
	fontWeight: bold;
	paddingLeft: 4;
	paddingRight: 4;
	paddingTop: 8;
	paddingBottom: 8;
	textAlign: left;
	verticalAlign: middle;
}

s|Label.textConfigItem
{
	color: #ffffff;
	paddingTop: 4;
	paddingBottom: 4;
	textAlign: right;
	verticalAlign: middle;
}

s|Label.textConfigValue
{
	color: #ffffff;
	paddingTop: 4;
	paddingBottom: 4;
	textAlign: left;
	verticalAlign: middle;
}

s|Label.tileItemLabel
{
	textAlign: center;
	verticalAlign: middle;
}

s|Label.toggleLabel
{
	fontWeight: bold;
}

s|LabelItemRenderer
{
	alternatingItemColors: null;
	fontSize: 14;
}

s|List
{
	contentBackgroundAlpha: 0;
	contentBackgroundColor: #000000;
}

s|NumericStepper
{
	skinClass: ClassReference('com.arxterra.skins.NumericStepperSkin');
	fontSize: 18;
}

s|RadioButton
{
	fontSize: 14;
	symbolColor: #cc6600;
}

s|SkinnableContainer.sView
{
	skinClass: ClassReference('com.arxterra.skins.ViewSkin');
}

s|SpinnerList
{
	color: #000000;
	fontSize: 14;
}

s|TextArea
{
	skinClass: ClassReference('spark.skins.mobile.TextAreaSkin');
	contentBackgroundAlpha: 0.6;
	contentBackgroundColor: #000000;
}

s|TextInput
{
	skinClass: ClassReference('spark.skins.mobile.TextInputSkin');
	contentBackgroundAlpha: 0.6;
	contentBackgroundColor: #000000;
	fontSize: 14;
}

s|TitleWindow
{
	backgroundColor: #333333;
}

s|ToggleSwitch
{
	fontSize: 14;
	accentColor: #cc6600; /* 663214 */
}

/*
//------------------------------
//  240 DPI
//------------------------------
*/

@media (application-dpi: 240)
{
	global
	{
		fontSize: 21;
	}
	
	.textHead
	{
		fontSize: 27;
	}
	
	.textLarge
	{
		fontSize: 27;
	}
	
	.textSmall
	{
		fontSize: 18;
	}
	
	.textSubhead
	{
		fontSize: 24;
	}
	
	.textSubheadPlain
	{
		fontSize: 24;
	}
	
	/*
	//------------------------------
	//  Spark
	//------------------------------
	*/
	
	s|Button
	{
		fontSize: 21;
	}
	
	s|CheckBox.twistyCheckBox #labelDisplay
	{
		fontSize: 21;
		paddingBottom: 18;
		paddingTop: 18;
	}
	
	s|Label
	{
		fontSize: 21;
	}
	
	s|Label.helpLabel
	{
		fontSize: 30;
		paddingLeft: 15;
		paddingRight: 15;
		paddingTop: 11;
		paddingBottom: 6;
	}
	
	s|Label.textConfigGroup
	{
		paddingLeft: 6;
		paddingRight: 6;
		paddingTop: 12;
		paddingBottom: 12;
	}
	
	s|Label.textConfigItem
	{
		paddingTop: 6;
		paddingBottom: 6;
	}
	
	s|Label.textConfigValue
	{
		fontSize: 24;
		paddingTop: 6;
		paddingBottom: 6;
	}
	
	s|LabelItemRenderer
	{
		fontSize: 21;
	}
	
	s|NumericStepper
	{
		fontSize: 27;
	}
	
	s|RadioButton
	{
		fontSize: 21;
	}
	
	s|SpinnerList
	{
		fontSize: 21;
	}
	
	s|TextInput
	{
		fontSize: 21;
	}
	
	s|ToggleSwitch
	{
		fontSize: 21;
	}
}

/*
//------------------------------
//  320 DPI
//------------------------------
*/

@media (application-dpi: 320)
{
	global
	{
		fontSize: 28;
	}
	
	.textHead
	{
		fontSize: 36;
	}
	
	.textLarge
	{
		fontSize: 36;
	}
	
	.textSmall
	{
		fontSize: 24;
	}
	
	.textSubhead
	{
		fontSize: 32;
	}
	
	.textSubheadPlain
	{
		fontSize: 32;
	}
	
	/*
	//------------------------------
	//  Spark
	//------------------------------
	*/
	
	s|Button
	{
		fontSize: 28;
	}
	
	s|CheckBox.twistyCheckBox #labelDisplay
	{
		fontSize: 28;
		paddingBottom: 24;
		paddingTop: 24;
	}
	
	s|Label
	{
		fontSize: 28;
	}
	
	s|Label.helpLabel
	{
		fontSize: 40;
		paddingLeft: 20;
		paddingRight: 20;
		paddingTop: 14;
		paddingBottom: 8;
	}
	
	s|Label.textConfigGroup
	{
		paddingLeft: 8;
		paddingRight: 8;
		paddingTop: 16;
		paddingBottom: 16;
	}
	
	s|Label.textConfigItem
	{
		paddingTop: 8;
		paddingBottom: 8;
	}
	
	s|Label.textConfigValue
	{
		fontSize: 36;
		paddingTop: 8;
		paddingBottom: 8;
	}
	
	s|LabelItemRenderer
	{
		fontSize: 28;
	}
	
	s|NumericStepper
	{
		fontSize: 36;
	}
	
	s|RadioButton
	{
		fontSize: 28;
	}
	
	s|SpinnerList
	{
		fontSize: 28;
	}
	
	s|TextInput
	{
		fontSize: 28;
	}
	
	s|ToggleSwitch
	{
		fontSize: 28;
	}
}

/*
//------------------------------
//  480 DPI
//------------------------------
*/

@media (application-dpi: 480)
{
	global
	{
		fontSize: 42;
	}
	
	.textHead
	{
		fontSize: 54;
	}
	
	.textLarge
	{
		fontSize: 54;
	}
	
	.textSmall
	{
		fontSize: 36;
	}
	
	.textSubhead
	{
		fontSize: 48;
	}
	
	.textSubheadPlain
	{
		fontSize: 48;
	}
	
	/*
	//------------------------------
	//  Spark
	//------------------------------
	*/
	
	s|Button
	{
		fontSize: 42;
	}
	
	s|CheckBox.twistyCheckBox #labelDisplay
	{
		fontSize: 42;
		paddingBottom: 36;
		paddingTop: 36;
	}
	
	s|Label
	{
		fontSize: 42;
	}
	
	s|Label.helpLabel
	{
		fontSize: 60;
		paddingLeft: 30;
		paddingRight: 30;
		paddingTop: 21;
		paddingBottom: 12;
	}
	
	s|Label.textConfigGroup
	{
		paddingLeft: 12;
		paddingRight: 12;
		paddingTop: 24;
		paddingBottom: 24;
	}
	
	s|Label.textConfigItem
	{
		paddingTop: 12;
		paddingBottom: 12;
	}
	
	s|Label.textConfigValue
	{
		fontSize: 54;
		paddingTop: 12;
		paddingBottom: 12;
	}
	
	s|LabelItemRenderer
	{
		fontSize: 42;
	}
	
	s|NumericStepper
	{
		fontSize: 54;
	}
	
	s|RadioButton
	{
		fontSize: 42;
	}
	
	s|SpinnerList
	{
		fontSize: 42;
	}
	
	s|TextInput
	{
		fontSize: 42;
	}
	
	s|ToggleSwitch
	{
		fontSize: 42;
	}
}

/*
//------------------------------
//  640 DPI
//------------------------------
*/

@media (application-dpi: 640)
{
	global
	{
		fontSize: 56;
	}
	
	.textHead
	{
		fontSize: 72;
	}
	
	.textLarge
	{
		fontSize: 72;
	}
	
	.textSmall
	{
		fontSize: 48;
	}
	
	.textSubhead
	{
		fontSize: 64;
	}
	
	.textSubheadPlain
	{
		fontSize: 64;
	}
	
	/*
	//------------------------------
	//  Spark
	//------------------------------
	*/
	
	s|Button
	{
		fontSize: 56;
	}
	
	s|CheckBox.twistyCheckBox #labelDisplay
	{
		fontSize: 56;
		paddingBottom: 48;
		paddingTop: 48;
	}
	
	s|Label
	{
		fontSize: 56;
	}
	
	s|Label.helpLabel
	{
		fontSize: 80;
		paddingLeft: 40;
		paddingRight: 40;
		paddingTop: 28;
		paddingBottom: 16;
	}
	
	s|Label.textConfigGroup
	{
		paddingLeft: 16;
		paddingRight: 16;
		paddingTop: 32;
		paddingBottom: 32;
	}
	
	s|Label.textConfigItem
	{
		paddingTop: 16;
		paddingBottom: 16;
	}
	
	s|Label.textConfigValue
	{
		fontSize: 72;
		paddingTop: 16;
		paddingBottom: 16;
	}
	
	s|LabelItemRenderer
	{
		fontSize: 56;
	}
	
	s|NumericStepper
	{
		fontSize: 72;
	}
	
	s|RadioButton
	{
		fontSize: 56;
	}
	
	s|SpinnerList
	{
		fontSize: 56;
	}
	
	s|TextInput
	{
		fontSize: 56;
	}
	
	s|ToggleSwitch
	{
		fontSize: 56;
	}
}

